@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme (default) */
:root {
    /* PRIMARY */
    --bright-blue: hsl(220, 98%, 61%);
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Dark Theme */
.dark {
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2: hsl(237, 14%, 26%);

    /* HOVER */
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
}

/* Body */
.bg-transition {
    transition-property: background-color, color, border-color, background-image;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* TodoItem Component: CHECKBOX */
.check-todo:checked {
    @apply bg-check-gradient duration-300;
}

.check-todo:checked ~ .check {
    @apply opacity-100 duration-100;
}

/* TodoItem Component: TEXT */
.todo-item {
    @apply flex items-center gap-4 p-4 border-b border-light-veryLightGrayishBlue dark:border-dark-veryDarkGrayishBlue1;
}

.todo {
    @apply w-full px-2 cursor-pointer dark:hover:text-dark-lightGrayishBlueHover;
}

.todo.checked {
    @apply line-through text-light-lightGrayishBlue dark:text-dark-veryDarkGrayishBlue1 transition;
}

/* Sorting component */
.category {
    @apply hover:text-light-veryDarkGrayishBlue cursor-pointer dark:hover:text-dark-lightGrayishBlue;
}

.category.active {
    @apply text-primary-blue dark:text-primary-blue;
}
